@model MVC.Models.ChangePasswordVM
@using Common;
@{
    ViewBag.Title = "Password Change";
}

<div class="SiteSideMenu">
    @{Html.RenderAction("MenuUser", "Menu");}
</div>

<div class="sitesubcontent">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
   
    
        <h1>@GlobalDM.GetTransStr("Login_ChangePassword")</h1>
        <div id="VbTabMacDetails" class="VbTabBlock corn_3">
            @*<div class="VbTabBlockHeader">
                <div class="BlockHeaderTitle">@GlobalDM.GetTransStr("Description")</div>
                <div class="clear"></div>
            </div>
            <div class="WhiteSep"></div>*@
            <div class="VbTabBlockInfo">
                <div class="datarow  ">
                    <div class="fieldlabel">
                        @GlobalDM.GetTransStr("Login_CurrentPassword"):
                    </div>
                    <div class="fieldvalue">
                        @Html.EditorFor(model => model.PasswordOld)
                        @Html.ValidationMessageFor(model => model.PasswordOld)
                    </div>
                </div>


                <div class="datarow  ">
                    <div class="fieldlabel">
                        @GlobalDM.GetTransStr("Login_NewPassword"):
                    </div>
                    <div class="fieldvalue">
                        @Html.EditorFor(model => model.PasswordNew)
                        @Html.ValidationMessageFor(model => model.PasswordNew)
                    </div>
                </div>


                <div class="datarow  ">
                    <div class="fieldlabel">
                        @GlobalDM.GetTransStr("Login_NewPasswordValidate"):
                    </div>
                    <div class="fieldvalue">
                        @Html.EditorFor(model => model.PasswordNewValidate)
                        @Html.ValidationMessageFor(model => model.PasswordNewValidate)
                    </div>
                </div>


            </div>

        </div>
           <div class="ForBtnDiv">
            <input type="submit" value="@GlobalDM.GetTransStr("A_Save")" class="buttondefault floatlast">
        </div>
        
       
    }
</div>
<div class="clear"></div>
