@model MVC.Models.ForgotPasswordVM
@{
    ViewBag.Title = "Forgot Password";
    var email = "דואר אלקטרוני";
    var title = "שכחתי סיסמא";
    var subtitle = "דואר אלקטרוני ובו קישור לאיפוס הסיסמא ישלח אליך.";
    var resetPassword = "אפס סיסמא";

}


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
        <div class="layer" ></div>
        <div class="popup">
        <div>
            <h2>@title</h2>
            <h3>@subtitle</h3>
        </div>
        <div class="datarow">
            <div class="fieldlabel">
                @email
            </div>
            <div class="fieldvalue">
               @Html.EditorFor(model => model.Email)
                 @Html.ValidationMessageFor(model => model.Email)
            </div>
            <div class="clear"></div>
        </div>
        <div class="datarow">
            <div class="fieldvalue btn">
                <input type="submit" value="@resetPassword" class="buttondefault">
            </div>
            <div class="clear"></div>
        </div>
    </div>
}

