@model Common.StepGroupFieldDM
@{
    var field = Model;
}

  
<div class="datarow floatfirst field">
    <div class="fieldlabel">
        @field.FieldLabel @if (field.FieldUnit != null)
        {<span dir="rtl">[@field.FieldUnit]</span>}
        <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="@field.HtmlID"></span>
    </div>
    <div class="fieldvalue">
        <input type="text" id="@field.FieldNameStr" name="@field.HtmlID" value="@field.HtmlValue" step="0.01" class="" @ViewBag.Required>
    </div>
</div>