
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/images/Favicon.png">
    <style>
        .ClientTreeDiv {
            max-height: 300px;
        }
    </style>
    <link href="~/Content/MyFontsWebfontsKit.css" rel="stylesheet" />
   
    <!--[if lt IE 9]>
        <link href="~/Content/IE.css" rel="stylesheet" />
    <![endif]-->


    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
      
    @*@Styles.Render("~/Content/css")*@
   @Html.Partial("ChangeLang")
    @*<script src="~/Scripts/jquery-1.8.2.min.js"></script>*@
    @Scripts.Render("~/bundles/modernizr")
   @Scripts.Render("~/bundles/SiteJS")
 
    <script src="~/Scripts/UI/jquery.bpopup.min.js"></script>
    <script src="~/Scripts/UI/jquery.tablesorter.js"></script>

    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.mobile.custom.min.js"></script>
    <script src="~/Scripts/jquery.ui.touch-punch.min.js"></script>

    <script src="~/Scripts/UI/jquery.scrollTo-min.js"></script>

    <script src="~/Scripts/UI/numeral.js"></script>
    <script src="~/Scripts/rest.js"></script>
    <script src="~/Scripts/crud.js"></script>
  
    @RenderSection("scripts", required: false)
  
   
</head>
<body class="admin">
     <div id="ScrptHead"></div>
    <div id="menu-mask" class="mask"></div>


    <div id="perspective" class="perspective effect-rotateleft">
        <div class="container">
            <div class="wrapper">
                <div class="main clearfix">
                    <div class="column">
                      
                        @{Html.RenderAction("AdminHeader", "Home", new { MobileTitle = ViewBag.MobileTitle });}
                        <div id="SiteBody" class="SiteWidth clearfix">

                            @RenderBody()

                        </div>
                        @Html.Partial("Footer")
                    </div>

                </div>
            </div>
        </div>
        @{Html.RenderAction("SideMenuAdmin", "Home");}
     
    </div>
    <script src="~/Scripts/UI/classie.js"></script>
    <script src="~/Scripts/UI/menu.js"></script>

  
      <script src="~/Scripts/UI/jquery.qtip.min.js"></script>
 
    <div id="qtip-growl-container"></div>


    <script src="~/Scripts/Routing.js"></script>
    <script src="~/Scripts/sammy.js"></script>
    <script>
        $(function () {
            var routing = new Routing('@Url.Content("~/Admin/")', '#SiteBody', 'home');
            routing.init();
        });
    </script>
   
    <script src="~/Scripts/UI/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/UI/jquery.cookie.js"></script>
    <script src="~/Scripts/UI/Accordion/accordion.js"></script>
    <script src="~/Scripts/UI/jquery.datetimepicker.full.min.js"></script>
    <script src="~/Scripts/UI/jquery.autosize.js"></script>
    <script src="~/Scripts/UI/jquery.fineuploader-3.0.js"></script>
    @*<script src="~/Scripts/UI/JIC.js"></script>*@
    <script src="~/Scripts/UI/cropper.min.js"></script>
    <script src="~/Scripts/UI/jquery.scrollTo-min.js"></script>

    <script src="~/Scripts/UI/moment-with-langs.js"></script>
</body>
</html>
<script>

   
    $(document).ready(function () {
        $.LoadAdminClient = function (ClientID) {
            $('.sitesubcontent').html(ajax_load);
            $.post("/Admin/Home/ChangeAdminClient", {
                "ClientID": ClientID

            }, function (data) {
                location.reload();
            });
        };

        $("#tree li a").live('click', function () {
            var ClientID = $(this).attr('data-id');
            $.LoadAdminClient(ClientID);
           
        });
    });
</script>