@model MVC.Models.Avatar
<span class="linktext DelAvatarBtn delete">מחק</span>
<div class="PicMenu">
    <span class="linktext FileUpload fr"></span>


    <div class="qq-progress-bar-container-selector">

        <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
    </div>

</div>


@*<script src="@Url.Content("~/Scripts/UI/jquery.Jcrop.js")" type="text/javascript"></script>*@
@*<script src="@Url.Content("~/Scripts/UI/cropper.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/UI/jquery.fineuploader-3.0.js")" type="text/javascript"></script>*@
@*<script src="~/Scripts/UI/jquery.bpopup.min.js"></script>*@
@*<script src="~/Scripts/Admin/UploadPic.js"></script>*@

<script type="text/javascript">

    var hasPic = '@ViewBag.HasPic';
    //if (hasPic)
    //    $(".DelAvatarBtn").show();

    //console.log("load " + '@ViewBag.htmlId');

    tryLoadScript('@Url.Content("~/Scripts/Admin/UploadPic.js")');
    var cropId = 'func_' + '@ViewBag.htmlId';

    window[cropId] = function () {
     //   console.log("runing " + '@ViewBag.htmlId');
        picUpload({
            ObjID: '@Model.ObjID',
            ObjType: '@Model.ObjType',
            FilePre: '@Model.FilePre',
            htmlId: '@ViewBag.htmlId',
            SubMode: '@Model.SubMode',
            hasPic: hasPic
        });
    };



    if (isFunction('picUpload')) {
        //console.log("picUpload-exist");
        window[cropId]();
    }
    else {
        waitingUploadCrop.push(cropId);
    }



</script>


<link href="@Url.Content("~/Content/fineuploader.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/cropper.css")" rel="stylesheet" type="text/css" />

@{
// var CardID = Model == null ? -1 : Model.CardID;
}



<!--CHANGE/ADD PIC BTNS -->
@*@if (@Model == null)
    {

    }
    else
    {
        ///<   EDIT PIC
        <div class="LinkText" id="EditPicBtn">ערוך תמונה</div>
    }*@
<!--POPUP IMAGE START  preview-->
@{ var id = "popImg" + ViewBag.htmlId;}
<div class="corn_3 PopFrame popImg" id="@id">

    <div class="PopMainHead">
        <div class="PopHead_title">עריכת תמונה</div>
        <span class="rec-icon PopCloseButton  b-close"></span>
    </div>
    <div class="PopContent requiresjcrop">
        <div class="crop">
            <img class="ImgFullImage" src="" />
        </div>
        <div class="clear">
            <div class="CropBtns">
                <input type="button" class="buttondefault red CancelUploadBtn" value="ביטול" />
                <input type="button" class="buttondefault UploadAndCropBtn" value="שמור" />
                <div class="clear"> </div>
            </div>

        </div>

    </div>

    <!--POPUP IMAGE END -->
    <input id="Hidden1" type="hidden" />
    <input id="hfX" type="hidden" />
    <input id="hfY" type="hidden" />
    <input id="hfHeight" type="hidden" />
    <input id="hfWidth" type="hidden" />
    <input id="cropImg" type="hidden" value="1" />
</div>
